{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section class="slick-slideshow">
                <div class="slick-custom">
                    <img src="{% static 'assets/images/slideshow/photo_2025-01-30_17-50-43.jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">ویرایش اصولی و استاندارد</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">با اطمینان کامل مقالاتت رو به تیم ویرایشگر ما بسپار</p>

                                    <a href="about.html" class="btn custom-btn">خرید اشتراک</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'assets/images/slideshow/pexels-fauxels-3183197.jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">پشتیبانی 24 ساعته</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">میتونی همیشه با ما در ارتباط باشی و نظراتتو بهمون بگی</p>

                                    <a href="product.html" class="btn custom-btn">درباره ما</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'assets/images/slideshow/two-business-partners-working-together-office-computer.jpeg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">با تیم ویرایشگری مجرب</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">خیالت از افراد ویرایشگر ما راحت باشه خوب کارشون رو بلدن</p>

                                    <a href="contact.html" class="btn custom-btn">ویرایشگران</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="about section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-5">درباره <span>سایت</span> ما </h2>
                        </div>

                        <div class="col-lg-2 col-12 mt-auto mb-auto">
                            <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">کارایی</button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">درباره دانشگاه </button>
                                </li>

                            </ul>
                        </div>

                        <div class="col-lg-10 col-12">
                            <div class="tab-content mt-2" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'assets/images/pim-chu-z6NZ76_UTDI-unsplash.jpeg' %}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">این <span>سایت</span> <br>برای <span>شما</span> چیکار میکنه؟</h4>

                                                <p>یکی از مشکلات دانشجویان کارشناسی و دانشجویانی که برای بار اول میخواهند مقاله بنویسند ویراش استاندارد آن است این سایت کسانی را که تجربه در این کار دارند را به کسانی که میخواهند مقاله ویرایش کنند متصل میکند که در ابتدای کار فقط برای دانشجویان رشته کامپیوتر قابل استفاده است.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                                <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'assets/images/shiraz2-1.webp' %}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">دانشگاه صنعتی شیراز</h4>

                                                <p>دانشگاه صنعتی شیراز یک دانشگاه دولتی در استان فارس است و در اردیبهشت ماه سال ۱۳۸۳ توسط وزیر علوم تحقیقات و فناوری دولت وقت، جعفر توفیقی گشایش یافت. این دانشگاه در بلوار مدرس در شرق شهر شیراز واقع است و محوطه جدید آن واقع در شهر جدید صدرا در شمال غرب شیراز هم‌اکنون در حال ساخت است. این دانشگاه در حال حاضر در ۳۲ رشته تحصیلی از طریق آزمون سراسری دانشجو می‌پذیرد که از این تعداد، ۴ رشته مربوط به مقطع تحصیلی دکتری، ۲۳ رشته تحصیلی در مقطع کارشناسی ارشد و ۵ رشته تحصیلی در مقطع کارشناسی می‌باشد. همچنین دانشگاه صنعتی شیراز در حال حاضر دارای دو پژوهشکده و 4 مرکز تحقیقات است. دانشگاه دارای 1400 دانشجوی مقطع کارشناسی، کارشناسی ارشد و دکترا می‌باشد.</p>

                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="https://sutech.ac.ir/" class="custom-link mb-2">
                                                        سایت دانشگاه
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'assets/images/cody-lannom-G95AReIh_Ko-unsplash.jpeg' %}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">What can help you?</h4>

                                                <p>Over three years in business, We’ve had the chance on projects</p>

                                                <div class="skill-thumb mt-3">

                                                    <strong>Branding</strong>
                                                        <span class="float-end">90%</span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                                            </div>

                                                    <strong>Design & Stragety</strong>
                                                        <span class="float-end">70%</span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                            </div>

                                                    <strong>Online Platform</strong>
                                                        <span class="float-end">80%</span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                            </div>

                                                </div>

                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="products.html" class="custom-link mb-2">
                                                        Explore products
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>



            <section class="featured-product section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-5">خلاصه مقالات</h2>
                        </div>
                            {% for article in articles %}
                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">
                                <a href="product-detail.html">
                                    <img src="{% static 'assets/images/product/pexels-anna-keibalo-620756389-17706646.jpg' %}" class="img-fluid product-image" alt="">
                                </a>

                                <div class="product-top d-flex">
                                    <span class="product-alert me-auto">{{article.Author}}</span>

<!--                                    <a href="#" class="bi-heart-fill product-icon"></a>-->
                                </div>

                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="product-detail.html" class="product-title-link">{{article.title}}</a>
                                        </h5>

                                        <p class="product-p">{{article.summery|truncatewords:10 }}</p>
                                    </div>

                                    <small class="product-price text-muted ms-auto mt-auto mb-5">{{article.created|date:"Y"}}</small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-12 text-center">
                            <a href="{% url 'home:articles' %}" class="view-all">نمایش بیشتر</a>
                        </div>

                    </div>
                </div>
            </section>
 {% endblock %}